<%= form_with model: [order, idea], method: :post, id: 'new_idea' do |form| %>
  <% if idea.errors.any? %>
    <ul class="list-group">
      <% idea.errors.each do |error| %>
        <li class="list-group-item list-group-item-danger"><%= error.full_message %></li>
      <% end %>
    </ul>

    <br>
  <% end %>

  <div class="form-group">
    <%= form.text_field :content, class: 'form-control', required: true %>
    <div class="form-text">Dos palabras como máximo que pueden sumar hasta 30 caracteres.</div>
  </div>

  <div>
    <%= form.submit 'Añadir idea fuerza', data: { disable_with: false }, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
