<footer class="container py-5 mt-4 border-top">
  <div class="col-lg-6 mx-auto text-center">
    <%= link_to 'Página principal', root_path, class: 'link-secondary text-decoration-none' %>
  </div>
</footer>
