<li id="<%= dom_id phrase %>" class="list-group-item" data-empty-state-target="item">
  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <div class="text-truncate"><%= phrase.content %></div>
    <div>
      <%= button_to 'Borrar', phrase, method: :delete, data: { confirm: '¿Estás seguro de borrar esta frase comercial?' }, class: 'btn btn-link p-0 text-decoration-none link-danger me-3' %>
    </div>
  </div>
</li>