<li id="<%= dom_id phrase %>" class="list-group-item" data-empty-state-target="item">
  <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
    <div>
      <%= phrase.content %>
    </div>
    <div>
      <%= button_to 'Borrar', phrase, method: :delete, remote: true, data: { confirm: '¿Estás seguro de borrar esta frase comercial?', disable_with: 'Borrando...' }, class: 'btn btn-link link-danger text-decoration-none p-0' %>
    </div>
  </div>
</li>