<main class="container p-4">
  <h1>Nueva frase comercial</h1>

  <turbo-frame id="new_phrase">
    <%= render partial: 'phrases/form', phrase: @phrase, locals: { order: @order, phrase: @phrase } %>
  </turbo-frame>

  <br>

  <%= link_to 'Regresar', order_phrases_path(@order) %>
</main>