<div class="min-vh-100 d-flex flex-column bg-image-1 bg-image-lg-2" style="background-attachment: fixed; background-position: center; background-size: cover;">
  <%= render 'application/header' %>

  <main class="flex-grow-1">
    <div class='container'>
      <div class='row'>
        <%= render partial: 'locutions/locution', collection: @locutions %>
      </div>
    </div>
  </main>

  <%= render 'application/footer' %>
  </div>

