<main class="container p-4">
  <h1>Locuciones de la orden #<%= @order.id %></h1>

  <turbo-frame id="locutions">
    <div class="card">
      <div class="card-header h5">Locuciones</div>

      <div class="card-body">
        <%= render partial: 'locutions/form', locals: { order: @order } %>
      </div>

      <div class="card-body border-top" data-controller="empty-state">
        <div data-empty-state-target="emptyState">La orden no tiene locuciones disponibles.</div>

        <div id="all_locutions" class="row">
          <%= render partial: 'locutions/locution', collection: @order.locutions.filter(&:persisted?) %>
        </div>
      </div>
    </div>
  </turbo-frame>
</main>