<main class="container p-4">
  <h1>Fotos de la orden #<%= @order.id %></h1>

  <turbo-frame id="photos">
    <div class="card">
      <div class="card-header h5">Fotos</div>

      <div class="card-body border-bottom">
        <%= render partial: 'photos/form', locals: { order: @order } %>
      </div>

      <div class="card-body">
        <div data-controller="empty-state">
          <div data-empty-state-target="emptyState">La orden no tiene fotos disponibles.</div>

          <div id="all_photos" class="row" data-controller="masonry">
            <%= render partial: 'photos/photo', collection: @order.photos.filter(&:persisted?) %>
          </div>
        </div>
      </div>
    </div>
  </turbo-frame>
</main>
