<div class="min-vh-100 d-flex flex-column">
  <%= render 'application/header' %>

  <main class="container p-4 flex-grow-1 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-2">Somos una casa realizadora que desarrolla estrategias multimedia de producci贸n, realizaci贸n y post producci贸n de videos institucionales, corporativos, contenidos de capacitaci贸n, making off, animaciones entre otros contenidos de entretenimiento.</p>
      <div class="ratio ratio-16x9 my-4">
        <iframe src="https://player.vimeo.com/video/518420404" allowfullscreen></iframe>
      </div>
      <div>
        <%= link_to 'Continuar', products_path, class: 'btn btn-primary btn-lg px-4' %>
      </div>
    </div>
  </main>

  <%= render 'application/footer' %>
</div>
