<div class="min-vh-100 d-flex flex-column" style="background-image: url(<%= image_path "heroBg.svg"%>); background-position: center; background-size: cover;">
	<%= render 'application/header' %>
	
	<main class="flex-grow-1 d-flex">
		<div class='flex-grow-1 d-flex flex-column justify-content-center container'>
			<div class='row'>
				<div class='col col-12 col-lg-6 order-2 order-lg-1'>
					<h1 class="display-4 fw-bold lh-1 text-center text-lg-start">La mejor forma de promocionarte en las redes sociales.</h1>
					<div class="mt-4 text-center text-lg-start">
						<%= link_to 'Ver plantillas', products_path, class: 'btn btn-dark btn-lg px-4' %>
					</div>
				</div>
				<div class='col col-12 col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0'>
					<div class="ratio ratio-16x9">
						<iframe src="https://player.vimeo.com/video/667417797?h=7a85c405e3&amp;title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="640" height="564" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="SocialSpots.Net Introducci&amp;oacute;n"></iframe>
					</div>
				</div>
			</div>
		</div>	
	</main>

	<%= render 'application/footer' %>
</div>
