<div class="min-vh-100 d-flex flex-column" style="background-image: url(<%= image_path "heroBg.svg"%>); background-position: center; background-size: cover;">
	<%= render 'application/header' %>
	
	<main class="flex-grow-1 d-flex">
		<div class='flex-grow-1 d-flex flex-column justify-content-center container'>
			<div class='row'>
				<div class='col col-12 col-lg-6 order-2 order-lg-1'>
					<h1 class="display-4 fw-bold lh-1 text-center text-lg-start">La mejor forma de hacerte presente en las redes sociales.</h1>
					<p class="fs-4 text-center text-lg-start">
						Somos una casa realizadora que desarrolla estrategias multimedia de producci贸n,
						realizaci贸n y post producci贸n de videos institucionales, corporativos, contenidos
						de capacitaci贸n, making off, animaciones entre otros contenidos de entretenimiento.
					</p>
					<div class="mt-4 text-center text-lg-start">
						<%= link_to 'Ver plantillas', products_path, class: 'btn btn-outline-primary btn-lg px-4' %>
					</div>
				</div>
				<div class='col col-12 col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0'>
					<div class="ratio ratio-16x9">
						<iframe src="https://player.vimeo.com/video/667417797?h=7a85c405e3" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>	
	</main>

	<%= render 'application/footer' %>
</div>
