<div class="min-vh-100 d-flex flex-column">
	<div class='container'>
		<div class="accordion" id="accordionExample">
			<div class="accordion-item my-2 rounded-5">
				<h3 class="p-4 m-0 lh-1 fw-bold" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is there a free trial?</h3>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body px-4 pt-0 pb-4">
						No. But we do offer lifetime access for just $67 USD right now. You get access to nearly 200 templates and you can try out the software risk-free for 30 days. If you’re not satisfied simply contact customer support and request a refund.
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" id="accordionExample2">
			<div class="accordion-item my-2 rounded-5">
				<h3 class="p-4 m-0 lh-1 fw-bold" id="headingOne2" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">Does Viddyoze support all languages?</h3>
				<div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
					<div class="accordion-body px-4 pt-0 pb-4">
						Viddyoze does not support all RTL and special characters site-wide, but we are working on this. We have many users who add their unsupported text to images with transparent backgrounds, and then upload these to image fields inside Viddyoze. This opens up hundreds more templates for you to use.
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" id="accordionExample3">
			<div class="accordion-item my-2 rounded-5">
				<h3 class="p-4 m-0 lh-1 fw-bold" id="headingOne3" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">Can I use my own custom videos with these languages?</h3>
				<div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne3" data-bs-parent="#accordionExample3">
					<div class="accordion-body px-4 pt-0 pb-4">
						Your custom animations are available for download in mp4 format, which can then be combined with your own custom videos using any video editing software.
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" id="accordionExample4">
			<div class="accordion-item my-2 rounded-5">
				<h3 class="p-4 m-0 lh-1 fw-bold" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do you have a refund policy?</h3>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body px-4 pt-0 pb-4">
						Yes. We have a "Happy User" Money Back Guarantee that lets you try our software risk-free for 30 days. If you don't like it, simply reach out to customer support for a complete refund. You'll get your money back. No hassle!
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-5" id="custom-cards">
		<h2 class="pb-2 border-bottom">Custom cards</h2>
		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.1/examples/features/unsplash-photo-1.jpg'); background-position: center; background-size: cover">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
								<small>Earth</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
								<small>3d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.1/examples/features/unsplash-photo-2.jpg'); background-position: center; background-size: cover">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
								<small>Pakistan</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
								<small>4d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.1/examples/features/unsplash-photo-3.jpg'); background-position: center; background-size: cover">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
						<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
								<small>California State</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
								<small>5d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
