$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  2rem: 2rem
);

$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;

$modal-backdrop-opacity:      .89;

$box-shadow-lg: 0 1rem 3rem rgba(black, .9);

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "9x16": calc(16 / 9 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

$utilities: (
    "bg-image": (
        responsive: true,
        property: background-image,
        class: bg-image,
        values: (
            1: image-url("heroBgMobile.svg"),
            2: image-url("heroBg.svg")
        )
    ),
    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers
    ),
    "padding-x": (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers
    ),
    "padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers
    ),
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: $border-radius,
            0: 0,
            1: $border-radius-sm,
            2: $border-radius,
            3: $border-radius-lg,
            4: .5rem,
            5: .75rem,
            circle: 50%,
            pill: $border-radius-pill
        )
    ),
    "rounded-top": (
        property: border-top-left-radius border-top-right-radius,
        class: rounded-top,
        values: (
            null: $border-radius,
            0: 0,
            1: $border-radius-sm,
            2: $border-radius,
            3: $border-radius-lg,
            4: .5rem,
            5: .75rem,
        )
    ),
    "rounded-top-left": (
        property: border-top-left-radius,
        class: rounded-top-left,
        values: (
            null: $border-radius,
            0: 0,
            1: $border-radius-sm,
            2: $border-radius,
            3: $border-radius-lg,
            4: .5rem,
            5: .75rem,
            8: 8rem
        )
    ),
    "rounded-bottom-right": (
        property: border-bottom-right-radius,
        class: rounded-bottom-right,
        values: (
            null: $border-radius,
            0: 0,
            1: $border-radius-sm,
            2: $border-radius,
            3: $border-radius-lg,
            4: .5rem,
            5: .75rem,
            8: 8rem
        )
    ),
);