<main class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>¡Tu orden ha sido confirmada!</h1>

    <p>Te enviamos un correo con los pasos a seguir.</p>

    <%= image_tag 'success.png' %>
  </div>
</main>
