<footer class="py-4 mt-3 border-top">
  <div class="col-lg-6 mx-auto text-center">
    <%= link_to 'Panel de administrador', new_admin_session_path, class: 'text-decoration-none' %>
  </div>
</footer>
