<header class="border-bottom shadow-sm" style='background-color: #e8f0f7'>
	<!-- Default header -->
	<div class="container px-4 py-1">
		<div class="row">
			<div class='col d-none d-lg-block'>
				<%= link_to root_path, class: 'd-flex align-items-center' do %>
					<%= image_tag "logo.png", height: 55 %>
				<% end %>
			</div>
			<div class='col'>
				<%= link_to root_path, class: 'd-flex align-items-center justify-content-center' do %>
					<%= image_tag "logoAlt.png", height: 55 %>
				<% end %>
			</div>
			<div class='col d-none d-lg-block'>
			</div>
		</div>
	</div>
</header>
