<div class="container">
  <%= render 'application/header' %>
  <main>
    <!--    <p id="notice"><%#= notice %></p>-->

    <h1>Productos</h1>

    <!--    <div class="container mt-3 mb-3">-->
    <%#= link_to 'New Template', new_product_path, class: 'btn btn-primary' %>
    <!--    </div>-->

    <div class="container">
      <div class="row">
        <% @products.each do |template| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card ">
              <img
                src="https://vumbnail.com/<%= '518420404' %>.jpg"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#modal"
              >
              <div class="card-body">
                <%= link_to 'Comprar', template, class: 'btn btn-outline-primary w-100' %>
              </div>
            </div>

            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">CODE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <iframe src="https://player.vimeo.com/video/518420404?autoplay=1&title=0&byline=0&portrait=0&autopause=1" width="320" height="180" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!--<table>-->
    <!--  <thead>-->
    <!--    <tr>-->
    <!--      <th>Name</th>-->
    <!--      <th>Description</th>-->
    <!--      <th colspan="3"></th>-->
    <!--    </tr>-->
    <!--  </thead>-->

    <!--  <tbody>-->
<%# @templates.each do |template| %>
    <!--      <tr>-->
    <!--        <td><%#= template.name %></td>-->
    <!--        <td><%#= template.description %></td>-->
    <!--        <td><%#= link_to 'Show', template %></td>-->
    <!--        <td><%#= link_to 'Edit', edit_template_path(template) %></td>-->
    <!--        <td><%#= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    <!--      </tr>-->
<%# end %>
    <!--  </tbody>-->
    <!--</table>-->
  </main>
  <%= render 'application/footer' %>
</div>

